.float {
  float: right;
}

button{
  margin-left:1.5em;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

nav{
  background-color:#36393E;
}

img{
  margin-right:1em;
}
