<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/squid.png" height="50" width="50">
  <a class="navbar-brand" href="#">Squid</a>
  <div class="collapse navbar-collapse justify-content-end" *ngIf="activeUsername == 'Not logged in'">
    <button style="display:inline-block; float:right;" class="btn btn-primary" (click)="swapLogin()">{{loginText}}</button>
    <div style="float:right" *ngIf="loginFormState">
        <app-login></app-login>
      </div>
    <div style="float:right" *ngIf="loginFormState == false">
        <app-signup></app-signup>
      </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="activeUsername != 'Not logged in'">
    <div style="float:right">
      <p class="vcenter">Logged in as {{activeUsername}}</p>
      <button style="display:inline-block; float:right;" class="btn btn-primary" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>
