navbar {
  margin-bottom: 2em;
}

li {
  list-style-type: none;
}

.card {
  box-shadow: 10px 10px 8px 10px #888888;
}
.timestamp {
  float: right;
  display: inline;
}

.username {
  display: inline;
}

.inline {

}

.onlineIcon {
  float: right;
  color: green;
  font-size: 15px;
  padding: 1px;
}


.offlineIcon {
  float: right;
  color: red;
  font-size: 15px;
  padding: 1px;
}

.awayIcon {
  float: right;
  color: yellow;
  font-size: 15px;
  padding: 1px;

}

.account {
  display: inline;
  float: left;
  padding: 1px;
  font-size: 30px;
}

.sendMessageField {
  display: inline;

}

.sendMessageButton {
  display: inline;
  height: 45px;
  margin-top: 2em;
  width:50px;
}

.emoticonDisplay {
  height: 25px;
  width: 25px;
}

.emoticon {
  display: inline-block;
  clear: both;
  position: relative;
  float: left;
  padding: 0.3em;
  width: 30%;
  min-width: 1px;
  clear: none;

}

.dropDownSquid {
  display: inline;
  height: 45px;
  width:50px;
}

.friendsDisplay {
  display: inline;
  padding: 1px;
}

.friends {
  padding: 5px;
}

.displayName {
  display: inline;
  float: right;
  padding: 1px;

}
#displayButton {

}

textarea {
  display: inline-block;
  margin-top: 2em;

}

.displayButton {
  float: right;
  display: inline;
}

.text-area {
  height: 500px;
  padding-right: 2em;
  float: left;
  width: 100%;
}

#messages{
  font-size: 14px;
}

body{
  width:98%;
  margin:auto;
}


.chatroomTitle{
  padding-bottom:1em;

}

.friendListTitle{
  padding-bottom:1em;
}

.activityTitle{
  padding-bottom:1em;
}
/*body {    background: linear-gradient(rebeccapurple, purple);*/
/*}*/
