<app-navbar></app-navbar>
<body>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--Left-->

<div class="row">
  <div class="col-md-2" >
    <div class="card" style="height:100%;">
      <div class="card-body" style="width:100%;">
        <div class="border-bottom" style="padding-bottom:1em; margin-bottom:1em;">
        <i class="fas fa-user account"></i>
        <h4 class="card-title displayname ">{{displayName}}</h4>
        </div>
      <div class="friends" *ngFor="let user of users | async" >
        <p class="card-text friendsDisplay">{{ user.displayname }}</p>

        <i *ngIf="user.status == 'online'" class="fas fa-circle onlineIcon" data-placement="left" title="Online"></i>
        <i *ngIf="user.status == 'offline'" class="fas fa-circle offlineIcon" data-placement="left" title="Offline"></i>
        <i *ngIf="user.status == 'away'" class="fas fa-circle awayIcon" data-placement="left" title="Away"></i>

      </div>

      </div>
    </div>
  </div>
  <!--Center-->
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title chatroomTitle border-bottom">Chatroom</h4>
          <div style="overflow: scroll; overflow-x: hidden;" #scrollMe [scrollTop]="scrollMe.scrollHeight" class="card-body">
            <div class="text-area">
              <ul>
                <li *ngFor="let message of messages | async">
                  <h6 class="username">{{ message.username}}</h6>
                  <small class="timestamp">{{ message.timestamp | date: 'MMM dd HH:mm '}}</small>
                  <div id="messages" [innerHTML]="message.body | emoticon"></div>
                </li>
              </ul>
            </div>
          </div>
        <form #f="ngForm">
          <div class="form-group">
            <div class="row">
              <div class="col-md-11">

            <textarea class="form-control sendMessageField" [disabled]="displayName == 'Not Signed In'" rows="3"
                      required (keydown.enter)="onKeydown($event)"
                      [(ngModel)]="message"
                      placeholder="Type a message..." id="message" name="message"></textarea>
              </div>


              <div class="col-md-1">
                <button type="button" id="send" class="btn btn-primary sendMessageButton" [disabled]="!f.valid"
                        (click)="sendMessage()"><i class="fas fa-envelope" style="font-size:25px;"></i></button>

                <div class="dropdown">
                  <img class="btn btn-primary dropdown-toggle dropDownSquid" type="button" id="dropdownMenuButton"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" src="../../assets/187129-emoticons/svg/happy-1.svg"/>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/angry.svg" (click)="dropdown(':A')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/happy-1.svg" (click)="dropdown(':)')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/confused-1.svg" (click)="dropdown(':S')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/surprised-1.svg" (click)="dropdown(':P')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/bored-1.svg" (click)="dropdown('-_-')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/crying-1.svg" (click)="dropdown(':’(')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/embarrassed.svg" (click)="dropdown(':V')"/>
                    <img class="dropdown-item emoticon dropdown-toggle" src="../../assets/187129-emoticons/svg/ill.svg"
                         (click)="dropdown(':I')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/in-love.svg" (click)="dropdown(':$')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/kissing.svg" (click)="dropdown(':^')"/>
                    <img class="dropdown-item emoticon dropdown-toggle" src="../../assets/187129-emoticons/svg/mad.svg"
                         (click)="dropdown(':K')"/>
                    <img class="dropdown-item emoticon dropdown-toggle" src="../../assets/187129-emoticons/svg/nerd.svg"
                         (click)="dropdown('>:(')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/ninja.svg" (click)="dropdown(':N')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/quiet.svg" (click)="dropdown(':Q')"/>
                    <img class="dropdown-item emoticon dropdown-toggle" src="../../assets/187129-emoticons/svg/sad.svg"
                         (click)="dropdown(':(')"/>
                    <img class="dropdown-item emoticon dropdown-toggle"
                         src="../../assets/187129-emoticons/svg/unhappy.svg" (click)="dropdown(':(')"/>
                    <img class="dropdown-item emoticon dropdown-toggle" src="../../assets/187129-emoticons/svg/wink.svg"
                         (click)="dropdown(';)')"/>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Right-->
  <div class="col-md-2">
    <div class="card" style="height:100%;">
      <div class="card-body">
        <h4 class="card-title border-bottom activityTitle">Activity</h4>
        <p class="card-text">Example</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>


</body>

