navbar{
  margin-bottom:2em;
}

li{
  list-style-type: none;
}

.timestamp{
  float:right;
  display:inline;
}

.username{
  display:inline;
}


#displayButton{

}

textarea{
  display:inline-block;
  margin-top:2em;

}

.displayName{
  width:80%;
  display:inline-block;
}

.displayButton{
  float:right;
  display:inline;
}

.text-area{
  height: 500px;
  padding-right:2em;
  float:left;
  width:100%;

}

/*body {    background: linear-gradient(rebeccapurple, purple);*/
/*}*/
