<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/squid.png" height="50" width="50">
  <a class="navbar-brand" href="#">Squid</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

    </div>
  </div>
</nav>
<!--Left-->
<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <p class="card-text">Active Users</p>
        <form #uf="ngForm">
          <div class="form-group">
            <div class="displayName">
            <input type="text" class="form-control" required minlength="3" [(ngModel)]="username" id="username" name="username"  placeholder="Display Name" >
            </div>

            <div class="displayButton">
            <button type="button" class="btn btn-primary" [disabled]="!uf.valid" (click)="setActiveUser()">Set</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!--Center-->
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Chatroom</h4>
        <p class="card-text">Some example text. Some example text.</p>

        <div class="card">
          <div style="overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight" class="card-body">
            <div class="text-area" >
            <ul>
              <li *ngFor="let message of messages | async">
                <h5 class="username">{{ message.username}}</h5>
                <small class="timestamp">{{ message.timestamp | date: 'HH:MM'}}</small>
                <p>{{message.body}}</p>


              </li>
            </ul>
            </div>
        </div>
        </div>
        <form #f="ngForm">
        <div class="form-group">
          <textarea class="form-control" rows="3" required [(ngModel)]="message" placeholder="Type a message..."id="message" name="message"></textarea>
          <button type="button" id="send" class="btn btn-primary" [disabled]="!f.valid" (click)="sendMessage()">Send</button>
        </div>
        </form>

      </div>
    </div>
  </div>
  <!--Right-->
  <div class="col-md-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Feed</h4>
        <p class="card-text">Example</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
</body>

