/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadImage {
  width: 100px;
  height: 100px;
}

body {
  background: #303030;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loadImage {
  animation: spin 1s ease-out infinite;
}

#2 {
  left: 30px;
}

#3 {
  left: 60px;
}

#4 {
  left: 90px;
}
